body{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.box{
	width: 450px;
	height: 520px;
	position: absolute;
	left: 50%;
	top: 50%;
	font-family: 'Roboto',sans-serif;
	border:1px #E5E1D6 solid;
	border-radius: 10px;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: 0.7s;
}

.img{
	padding-top: 30px;
}

.login{
	font-size: 25px;
	margin-bottom: 10px;
	color:#414141;

}

input[type = "text"]{
	width: 360px;
	border:1px #E5E1D6 solid;
	border-radius: 5px;
	padding: 20px 15px;
	color: #D9D4CE;
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	margin-top: 30px;
}

input[type = "text"]:focus{
	width: 360px;
	border:1.5px skyblue solid;
	border-radius: 5px;
	padding: 20px 15px;
	color: #D9D4CE;
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	margin-top: 30px;
}

input[type = "password"]{
	width: 360px;
	border:1px #E5E1D6 solid;
	border-radius: 5px;
	padding: 20px 15px;
	color: black;
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	margin-top: 10px;
}

input[type = "password"]:focus{
	width: 360px;
	border:1.5px #8E44AD solid;
	border-radius: 5px;
	padding: 20px 15px;
	color: black;
	font-family: 'Roboto',sans-serif;
	font-size: 15px;
	margin-top: 10px;
}


.info{
	margin-top: 40px;
	font-family: 'Roboto',sans-serif;
	font-size: 14.5px;
	text-align: left;
	margin-left: 45px;
	margin-right: 45px;
	color:#757575;
	word-spacing: 3px;
	line-height: 20px;
}

.pelajari{
	text-decoration: none;
	font-weight: bold;
	color:#3498DB;

}

.text{
	color:#414141;
}

.proses{
	margin-top: 40px;
}

.new{
	text-decoration: none;
	color:#3498DB;
	font-size: 15px;
}

input[type = "submit"]{
	background:#3498DB;
	border:5px #3498DB solid;
	border-radius: 5px;
	padding: 5px 13px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	margin-left: 180px;
}

input[type = "submit"]:hover{
	background:blue;
	border:5px blue solid;
	border-radius: 5px;
	padding: 5px 13px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	margin-left: 180px;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  	transform: translateY(-2px);
}